<app-comments
  *ngIf="comments$ | async as comments"
  [comments]="comments"
  [currentUser]="currentUser$ | async"
  (commentEdited)="onEditComment($event)"
  (scoreIncremented)="onInscrementScore($event)"
  (scoreDecremented)="onDecrementScore($event)"
  (commentReplied)="onReplyComment($event)"
>
</app-comments>
<!-- (commentDeleted)="onDeleteComment($event)" -->

<app-add-comment
  *ngIf="currentUser$ | async as currentUser"
  (addCommentClicked)="onAddComment($event)"
  [currentUser]="currentUser"
></app-add-comment>

